<%-
  include('../common/_head', {
    page: json['privacy']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>プライバシー<br class="u-pc-hide">ポリシー<span>PRIVACY POLICY</span></h2>
    </section>
    <section class="sec-content privacy-sec">
    <div class="l-container page-container">
      <div class="page-inner">
        <h3 class="tlt_style_01">プライバシーポリシー</h3>
        <p>ワールドプランニングオフィス（以下「当社」）は、個人情報保護に関する法律及びその他の法令を遵守するため、プライバシーに関する方針を以下のとおり定めます。<br>個人情報とは、個人情報保護法にいう「個人情報」を指すものとし、特定の個人を識別し得る情報（以下、個人情報という）を指します。</p>
        <ol class="list-num policty-list">
          <li><h4>個人情報の保護</h4>個人情報保護に関する内部規程を整備し、個人情報の取扱いについて明確な方針を規定します。また、関係者に周知徹底させて実行するとともに、改善・維持するものとします。</li>
          <li><h4>個人情報の取得</h4>当社にお問い合わせをいただいた際に連絡先を確認させていただく必要がある場合に、会社名、氏名、住所、電話番号などの個人情報をお尋ねすることがあります。 当社が取得した個人情報は、当社のサービスまたは当社を経由してご利用いただくサービスを提供するために必要なものに限られています。</li>
          <li><h4>個人情報の利用</h4>当社は、個人情報を以下の目的で利用します。
          <ul class="list-disc">
            <li>当社が取り扱うサービス等に関するご案内</li>
            <li>当社の情報・サービスのご提供</li>
            <li>業務上のご連絡</li>
          </ul>
          </li>
          <li><h4>個人情報の第三者への提供</h4>当社は、事前の同意がある場合や法令に基づく場合を除いて、個人情報を第三者に提供することを禁じます。</li>
          <li><h4>個人情報の修正・削除等</h4>当社は、個人情報の主体が自己の個人情報について、開示・修正・削除等の権利を有していることを確認し、これらの要求に対して異議なく応じます。</li>
          <li><h4>セキュリティ対策</h4>個人情報の安全管理のために個人情報へのアクセス管理、個人情報の持ち出し制限、外部からの不正なアクセスの防止のための措置を講じます。</li>
        </ol>

      </div>

      <div class="page-inner">
        <h3 class="tlt_style_01">セキュリティポリシー</h3>
        <p>当社は、情報資産を適切に管理するために、情報セキュリティポリシー基本方針をここに定めます。
        また、プライバシーに関する方針については、プライバシーポリシーにて定めます。</p>
        <ol class="list-num policty-list">
          <li><h4>情報セキュリティの定義</h4>情報セキュリティとは、当社が業務上保有する情報資産の機密性、安全性、及び可用性を維持することと定義します。</li>
          <li><h4>情報セキュリティの目的</h4>情報資産の管理および情報セキュリティ管理を適切に行ない、情報資産に損失・損害を与える可能性のあるリスクを、定められた受容可能なリスク水準以下に低減することを情報セキュリティの目的とします。</li>
          <li><h4>情報セキュリティポリシーの対象</h4>当ポリシーが対象とする情報資産は、当社の業務活動において入手および知り得た情報、ならびに当社が業務上保有するすべての情報とし、これを利用する全てのものに適用します。</li>
          <li><h4>情報セキュリティ管理体制の構築</h4>内部の組織ごとに情報セキュリティ責任者を設置し、情報セキュリティ体制を構築します。</li>
          <li><h4>情報セキュリティポリシーの整備</h4>当社は情報セキュリティを確保するために当ポリシー・規程等を整備し、定期的にこれらを見直し管理体制の強化・改善を図ります。</li>
          <li><h4>情報資産の保護</h4>当社は、法令等のほか本方針をはじめとする情報セキュリティポリシーに従って情報資産を管理し、また取り扱うとともに適正かつ合理的な情報セキュリティ対策を講じます。</li>
          <li><h4>情報セキュリティ侵害時の対応</h4>当社は、万が一情報セキュリティ侵害事故が発生した場合においても、被害拡大の防止、復旧等の必要な措置を実施しその影響範囲を最小限にとどめるとともに、再発防止の措置を講じます。</li>
          <li><h4>情報セキュリティリへの意識の向上</h4>当社は、職務に応じて必要な情報セキュリティに関する教育・研修を定期的に行ない、適切な安全策の徹底と情報セキュリティに対する意識の向上を図ります。</li>
        </ol>

      </div>
    </div>
</section>

  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
