/* ====================
 business page
=======================*/
.business {
  .page-header {
    background-image: url(../images/business/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/business/header_img@2x.png);
    }
  }
  .sec-content{
    text-align: center;
  }
  &-travel_sec{
    img{
      margin-bottom: 30px;
    }
  }
  &-efficiency_sec{
    &_list{
      margin: 60px auto;
      @include min-screen($break_point_pc) {
        display: flex;
        justify-content: space-between;
        max-width: 750px;
      }
      &_img{
        img{
          width: 100%;
        }
      }
      li{
          background-color: $white;
          border-radius: 7px;
          box-shadow: 9px 8px $yellow;
          margin-bottom: 30px;
          transition: .3s;
          width: 90%;
          margin: auto;
          @include min-screen($break_point_pc) {
            width: 43%;
            margin-bottom: 0px;
          }
          &:last-child{
            margin-bottom: 0px;
            margin-top: 30px;
            @include min-screen($break_point_pc) {
              margin-top: 0px;
            }
          }
          h4{
            text-align: center;
            font-size: 25px !important;
            color: #008dff !important;
            margin-top: 15px;
          }
          p{
            padding: 0px 20px 20px 20px;
            text-align: left;
          }
      }
    }
  }
}
