/*=========================
common lower pages settings
==========================*/

/*=========================
common lower pages page-header
==========================*/

/*=========================
common lower pages breadcrumb
==========================*/
.breadcrumb {
  display: none;
  @include min-screen($break_point_min) {
    display: block;
    margin-bottom: 15px;
  }
  .breadcrumb-list {
    font-size: 0;
    > li {
      display: inline-block;
      @include min-screen($break_point_min) {
        font-size: 12px;
      }
      a {
        text-decoration: none;
        &::after {
          content: ">";
          display: inline-block;
          margin: 0 5px;
        }
      }
    }
  }
}

/*=========================
page contents
==========================*/
.page-block {
  margin-bottom: 10px;
  @include min-screen($break_point_min) {
    margin-bottom: 20px;
  }
}

.page-title {
  @include min-screen($break_point_min) {

  }
}

.page-subblock {
  margin-bottom: 20px;
  &__inner {
    padding: 0 10px;
    @include min-screen($break_point_min) {
      padding: 0 20px;
    }
  }
}

.page-subtitle {
  border-top: 1px solid $lightgray;
  border-bottom: 1px solid $lightgray;
  margin-bottom: 10px;
  padding: 10px 7px;
  color: #7186b9;
  font-size: 18px;
  font-family: $serif;
  @include min-screen($break_point_min) {
    margin-bottom: 20px;
    padding: 20px 20px;
    font-size: 23px;
  }
}

.page-inner {
  background-color: $white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 9px 8px $yellow;
  margin-bottom: 50px;
  @include min-screen($break_point_min) {
      padding: 40px;
  }
}

/*=========================
 column-layout
==========================*/
.column-layout {
  @include min-screen($break_point_min) {
    @include flexbox;
  }
  &__pic {
    margin-bottom: 10px;
    @include min-screen($break_point_min) {
      width: calc(50% - 10px);
      margin-bottom: 0;
    }
  }
  &__txt {
    @include min-screen($break_point_min) {
      width: calc(50% - 10px);
    }
  }

  &--first {
    .column-layout__txt {
      font-weight: bold;
      font-size: 14px;
      @include min-screen($break_point_min) {
        font-size: 18px;
      }
    }
  }

  &--pic-right {
    @include min-screen($break_point_min) {
      flex-direction : row-reverse
    }
    .column-layout__txt {

    }
  }
}

.page{
  .sec-content{
    background-color: #fffef2;
    padding-top: 0px !important;
    padding-left: 0px!important;
    padding-right: 0px !important;
    padding-bottom: 60px;
    h4{
      font-size: 20px;
      color: #00128b;
      text-align: center;
      @include min-screen($break_point_min) {
        font-size: 27px;
      }
    }
    h5{
      font-size: 18px;
      color: #00128b;
      text-align: center;
      @include min-screen($break_point_min) {
        font-size: 20px;
      }
    }
  }
}

.basic_p{
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  @include min-screen($break_point_min) {
    font-size: 15px;
  }
}

.txt_gray{
  background: #fbf9f5;
  padding: 30px;
  border-radius: 15px;
  text-align: left;
}
.gmap{
  width: 95%;
  margin: 40px auto;
  iframe{
    width: 100%;
    height: 500px;
    @include max-screen($break_point_pc) {
      height: 300px;
    }
  }
}

.en{
  display: none !important;
}
.jp{
  display: block !important;
}
