/* ====================
 contact page
=======================*/
.contact {
  .page-header {
    background-image: url(../images/contact/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/contact/header_img@2x.png);
    }
  }

  &_tlt{
    @include max-screen($break_point_min) {
      width: 250px;
    }
  }
  .txt_gray{
    margin-bottom: 100px;
    margin-top: 20px;
  }

  .form__block{
    margin-top: 40px;
    th{
      font-weight: normal;
      background-color: #f3f3f3;
      span{
        font-size: 14px;
        display: block;
      }
    }
    td{
      border-bottom: none;
    }
  }
  .form-require{
    color: $orange;
    font-size: 15px;
    margin-left: 5px;
    display: inline-block !important;
  }
  .submit{
    text-align: center;
    .button {
      display: inline-block;
      background-color: $white !important;
      color: $black !important;
      font-weight: bold;
      padding: 10px 20px;
      border:solid 2px $black;
      border-radius: 100px;
      box-shadow: 0px 5px #ffeb0a;
      @include max-screen($break_point_min) {
        display: block;
        margin: auto;
      }
    }
    &_back{
      margin-right: 10px;
      border:solid 2px #ddd !important;
        @include max-screen($break_point_min) {
          margin-left: 0px;
          margin-top: 10px;
        }
    }
  }

  .c-table{
    margin-top: 40px;
    dt{
      font-size: 16px !important;
      border-left: none;
      font-weight: normal;
      background-color: #f3f3f3;
      border-bottom: solid 1px #ffffff;
    }
    dd{

    }
  }
  &-intro_sec{
    .l-container{
      padding-top: 60px;
    }
    img{
      margin: 40px 0px;
    }
    h5{
      margin-bottom: 40px;
    }
  }
}

.group{
  h2{
    width: 630px;
    @include max-screen($break_point_min) {
      width: 350px;
      font-size: 21px;
    }
  }
}

.goto_form {
  .page-header {
    background-image: url(../images/goto_form/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/goto_form/header_img@2x.png);
    }
    h2{
      font-size: 17px;
      width: 300px;
      line-height: 20px;
      @include min-screen($break_point_min) {
        font-size: 34px;
        line-height: 42px;
        width: 580px;
      }
    }
  }
  &_sec{
    h4,h5{
      @include max-screen($break_point_min) {
        text-align: center;
      }
      img{
        width: 80px;
        margin-right: 15px;
        position: relative;
        top: -10px;
        @include max-screen($break_point_min) {
          display:  block;
          width: 60px;
          margin: auto;
          margin-bottom: 5px;
          top: inherit;
        }
      }
    }
    h4{
      text-align: left !important;
      @include max-screen($break_point_min) {
        text-align: center !important;
      }
    }
    h5{
      text-align: left !important;
      margin-bottom: 0px;
      margin-top: 40px;
      font-size: 27px !important;
      @include max-screen($break_point_min) {
        font-size: 20px !important;
        text-align: center !important;
      }
    }
    .basic_p{
    }
    &_txt{
      margin: auto;
      max-width: 550px;
    }
  }
}

.product_sale_form {
  .page-header {
    background-image: url(../images/product_sale_form/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/product_sale_form/header_img@2x.png);
    }
    h2{
          font-size: 14px;
          width: 270px;
          line-height: 22px;
          padding: 10px 30px 5px 30px;
      @include min-screen($break_point_min) {
        font-size: 33px;
        line-height: 40px;
        padding: 14px 30px 5px 30px;
        width: 590px;
      }
    }
  }
}
