/* ====================
 platinum page
=======================*/
.platinum {
  .page-header {
    background-image: url(../images/platinum/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/platinum/header_img@2x.png);
    }
    h2{
      @include max-screen($break_point_min) {
        width: 340px;
      }
    }
  }
  &-intro_sec{
    &_txt{
      margin-bottom: 40px;
    }
    img{
      width: 100%;
    }
  }
  &-kisoku_sec{
    &_table{
      dt{
        text-align: left !important;
        border-left: solid 6px #00128b;
        padding: 7px 0px 7px 15px;
        margin-bottom: 20px;
        margin-top: 40px;
        font-size: 20px !important;
        color: #00128b;
        font-weight: bold;
        background-color: #eefbfb;
        @include min-screen($break_point_min) {
          font-size: 20px !important;
        }
      }
      dd{
        margin-bottom: 20px;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }

}
