/* ====================
 privacy page
=======================*/
.privacy {
  .page-header {
    background-image: url(../images/business/header_img_s@2x.png);
    @include min-screen($break_point_min) {
      background-image: url(../images/business/header_img@2x.png);
    }
  }
  h2{
    @include max-screen($break_point_min) {
      width: 310px;
      font-size: 29px;
    }
  }
  h4{
    text-align: left !important;
    font-size:15px !important;
  }
  ol{
    li{
      margin-top: 10px;
      &:before{
        font-weight: bold;
        color: #00128b;
      }
    }
  }
}
