/* ------- 共 通 ------- */

* {
    font-family:"游ゴシック","メイリオ",sans-serif;
    font-size: 16px;
}
html {
    overflow:auto;
    body {
        width: 100%;
        margin:0;
        background-color:#192953;	/* HTMLの背景色(※必要に応じて変更※) */
        overflow: hidden;
        min-width: 100%;
    }
}

img {
    width:100%;
    padding: 0;
    vertical-align: bottom;
}
.sns-i {
    width: 20px;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
} 
.pb-b {
    padding-bottom: 5px;
}
.pd-l {
    margin-left: 5px;
}
.pd-r {
    margin-right: 5px;
}


/*---- レスポンシブ・画像切替 ----*/
.imgPC {
    display:block;
    margin:0 auto;
    width:100%;
}
.imgSP {
    margin:0 auto;
    width:100%; 
}
.pd-b {
    padding-bottom: 10px;
}
.n-mg-t {
    margin-top: -2em;
}
.n-mg-ts {
    padding-top: 12.5em;
}