/*=========================
common footer
==========================*/

.l-footer {

  width: 100%;
  bottom: 10px;
  left: 0;
  text-align: center;
  //margin-top: 50px;
  padding-top: 50px;
  background-color: #d0eeff;
  border-top: solid 5px $blue;
  @include min-screen($break_point_pc) {

  }
  > .l-container {
    @include clearfix;
   padding: 0px;
   width: 100% !important;
   max-width:1100px;
   padding: 20px;
   @include min-screen($break_point_pc) {
     padding-top: 40px;
     min-width: 1060px;
     padding: 0px 20px;
     display: flex;
     justify-content:space-between;
     align-items: center;
   }
  }

  &_menu {
    @include min-screen($break_point_pc) {
    text-align: left;
    max-width: 590px;
    }
    > li {
      margin-bottom: 20px;
      position: relative;
      padding-bottom: 20px;
      @include min-screen($break_point_pc) {
        display: inline-block;
        margin: 0px 10px;
        margin-bottom: auto;
      }
      &:after{
        content: "";
        width: 1px;
        height: 20px;
        background-color: $blue;
        display: block;
        position: absolute;
        right: -12px;
        top: 2px;
        @media screen and (max-width:800px){
          right: inherit;
          top: inherit;
          bottom: 0px;
          height: 1px;
          width: 100%;
          background-color: #b1dcff;
        }
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &:first-child {
        @include min-screen($break_point_pc) {
          margin-left: 0;
        }
      }
      a {
        text-decoration: none;
        color: $black !important;
        font-weight: bold;
        font-size: 14px;
      }
    }
    &_sub{
      margin-left: 0px !important;
      a{
        font-size: 12px !important;
      }
    }
  }

  .footer-logo {
      margin-bottom: 30px;
    @include max-screen($break_point_pc) {
          width: 200px;
          margin: auto;
          margin-bottom: 50px;
    }
  }
  .contact-info{
    li{
      display: block;
    }
    &__num{
      background-color: $white !important;
    }
    &__address{
      font-weight: bold;
      text-align: left;
      margin-bottom: 10px;
      @include max-screen($break_point_pc) {
        text-align: center;
      }
    }
  }
  .footer-copy {
    color: $blue;
    padding: 20px;
    margin-top:40px;;
    small {
      font-size: 10px;
      font-weight: bold;
      @include min-screen($break_point_pc) {
        font-size: 13px;
      }
    }
  }

}
