.l-wrapper {
  overflow: hidden;
  margin: 0 auto;

  @include min-screen($break_point_min) {

  }
}

.main-block {
  // padding: 35px 0;
  @include min-screen($break_point_pc) {
    padding: 0;
  }
}
.l-main {

}



.sec-content {
  background-size: cover;
  background-position: center;
  padding: 60px 15px;
	@include min-screen($break_point_min) {
    padding: 120px 0px;
	}
  .sec-content__inner {
    padding: 0 8px;
  }

  p {
    line-height: 2;
  }

  .sec-subcontent {
    .sec-subtitle {
      position: relative;
      margin-bottom: 40px;
      padding: 40px 0;
      text-align: center;
      font-family: $serif;
      font-size: 14px;
      letter-spacing: 0.5rem;
      font-weight: normal;
      @include min-screen($break_point_pc) {
        margin-bottom: 80px;
        padding: 60px 0;
        font-size: 18px;
    	}
      &::after {
        display: block;
        content: "";
        width: 1px;
        height: 30px;
        position: absolute;
        bottom: -15px;
        left: calc(50% - 4px);
        background-color: $black;
        @include min-screen($break_point_pc) {
          height: 60px;
          bottom: -30px;
      	}
      }
    }
  }
}

.top-section {

}

.top-news {
  padding: 30px 0 50px;
	 @include min-screen($break_point_pc) {
	  padding: 50px 0 60px;
	}
}


.l-container {
  margin: 0 auto;
  padding: 20px;
  @include clearfix;
  width: 97%;
  @include min-screen($break_point_pc) {
    padding: 20px;
    width: 1000px;
  }
  &_round{
    background-color: $white;
    border-radius: 20px;
    padding: 40px 20px !important;
    @include min-screen($break_point_pc) {
      padding: 50px !important;
    }
  }
}

/* ====================
sub__content
=======================*/

.l-pages {
  background-color: $darknavy;
  padding-bottom: 30px;
  @include min-screen($break_point_min) {
		padding-bottom: 100px;
	}
}

.sub__content {
  padding: 30px 0 10px;
	@include min-screen($break_point_min) {
		padding: 80px 0 10px;
	}
}

.contact-info {
  @include clearfix;
  @include min-screen($break_point_min) {
    float: right;
    margin-right: 40px;
  }
  li{
    display: inline-block;
  }
  &_sns{
    position: relative;
    top: -12px;
    margin-right: 10px;
    a{
      width: 40px;
      height: 40px;
      margin: 0px 4px;
      display: inline-block !important;
      img{
        width: 100%;
      }
    }
  }
  &__info{
    font-size: 12px;
    margin-bottom: 12px;
  }
  &_phone{
    //font-family: $webfont;
  }
  &_tlt{
    background-color: $blue;
    font-size: 18px;
    color: $white;
    padding: 0px 8px;
    border-radius: 5px;
    margin-right: 5px;
    &:last-child{
      margin-left: 5px;
    }
  }
  .contact-info__num {
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    padding: 12px;
    @include max-screen($break_point_pc) {
      padding: 20px;
    }
    i{
      position: relative;
      top: -2px;
      margin-right: 5px;
      display: none;
      @include max-screen($break_point_pc) {
        width: 50px;
        margin-right: 0px;
        display: block;
      }
      img{
        @include max-screen($break_point_pc) {
         width: 37px;
       }
      }
    }
  @include max-screen($break_point_pc) {
    padding: 20px;
    padding-right: 10px;
    position: relative;
    top: -2px;
  }

  }
  .contact-tel__info{
    p{
      font-weight: normal;
      &:first-child{
        border-bottom: solid 1px #faa3a3;
        padding-bottom: 3px;
        margin-bottom: 3px;
      }
    }
    @include max-screen($break_point_pc) {
      display: none;
    }
  }
}

.is-fixed{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: $white;
  z-index: 10000;
  height: 80px !important;
  .l-container{
    margin: auto;
    padding: 0px 0px !important;
  }
}

.bg-ptn_yellow{
    background-image: url(../images/common/bg_ptn_yellow@2x.png);
}

.bg-ptn_blue{
    background-image: url(../images/common/bg_ptn_blue@2x.png);
}

.bg-dot_blue{
  background-image: url(../images/common/bg_dot_blue@2x.png);
  background-repeat: repeat;
  background-size: 650px;
}

.bg-dot_yellow{
  background-image: url(../images/common/bg_dot_yellow@2x.png);
  background-repeat: repeat;
  background-size: 650px;
}

.btn_arrow{
  position: relative;
  &:before{
    content: "";
    width: 32px;
    height: 13px;
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -7px;
    background-image: url(../images/common/btn_arrow@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: .3s;
  }
  &:hover{
    &:before{
      right: 3px;
    }
  }
}

.hover_scale{
  transition: .3s;
  &:hover{
    transform:scale(1.05);
  }
}
