

<footer id="footer" class="l-footer">
  <p class="u-ta-c en">
    TSG Gyoen Bldg. 5F,<br>
    28-3, Shinjuku 1-chome,<br>
    Shinjuku-ku, Tokyo 160-0022, Japan<br>
  </p>
  <div class="l-container">

    <ul class="l-footer_menu jp">
      <li><a href="/">ホーム</a></li>
      <li><a href="/business/">業務内容</a></li>
      <li><a href="/recruit/">採用情報</a></li>
      <li><a href="/company/">会社案内</a></li>
      <li><a href="/access/">アクセス</a></li>
      <li><a href="/platinum/">プラチナ旅行倶楽部</a></li>
      <li class="l-footer_menu_sub"><a href="/privacy/">プライバシーポリシー</a></li>
    </ul>

    <ul class="contact-info">
      <li class="contact-info__address">〒160-0022　東京都新宿区新宿1-28-3　<br class="u-pc-hide">ＴＳＧ御苑ビル5階</li>
      <li class="contact-info__num">
        <p class="contact-info__info">営業時間 平日 9:30~18:00 土曜 9:30~15:00 <br class="u-pc-hide">定休日 日曜・祝祭日</p>
          <p class="contact-info_phone"><span class="contact-info_tlt">TEL</span>03-3354-9995<br class="u-pc-hide"><span class="contact-info_tlt">FAX</span>03-3354-9996</p>
        </li>
    </ul>
  </div>
  <p class="footer-copy"><small>Copyright © World Planning Office All Rights Reserved.</small></p>
</footer>

</div>
<!-- / l-wrapper -->

<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>

<script src="/js/script.min.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</body>
</html>
