<%-
  include('../common/_head', {
    page: json['contact']
  });
%>



<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2 class="contact_tlt">お問い合わせ<span>CONTACT</span></h2>
    </section>
    <section class="sec-content contact-intro_sec">
      <div class="l-container page-container">

        <div class="page-inner">
        <div class="u-ta-c">
          <h4>
            団体旅行を始め、出張・視察等の業務渡航を<br>
            目的に合わせたプランでトータルコーディネート致します。
          </h4>

          <img src="/images/contact/contact_tel.png" alt="受付時間：平日 9:30〜18:00　土曜日 9:30〜15:00">

          <h5>メールでのお問い合わせは以下のフォームよりお願いします</h5>
          <p class="basic_p txt_gray">
            ワールドプランニングオフィスへのお問合せありがとうございます。<br>
            メールでのお問い合わせは以下のフォームをご利用ください。<br>
            <br>
            内容を確認次第、ご連絡致します。<br>
            尚、お問い合わせ内容によりましては、ご回答に時間がかかる場合がございます。<br>
            お客さまからいただいたEメールアドレスが違っている場合や、システム障害などによりお返事ができない場合がございます。大変お手数ですが返答のない場合は、お電話でその旨お問い合わせください。<br>
            <br>
            ■お問合せ情報は、フォームにご記入頂きましたメールアドレス宛にも自動返送されます。<br>
            <span class="form-require">※</span>印は必須項目となっております。<br>
          </p>


          <h4>メールフォーム</h4>
          <div class="form__block">

          <form method="post" action="mail.php">
            <table class="table-default">
              <tr>
                <th>会社名・団体名</th>
                <td><input type="text" name="会社名・団体名" placeholder="例：株式会社ワールドプランニングオフィス" /></td>
              </tr>
              <tr>
                <th>ご担当者様<span class="form-require">※</span></th>
                <td><input type="text" name="ご担当者様" placeholder="例：山田　太郎" required></td>
              </tr>
              <tr>
                <th>フリガナ<span class="form-require">※</span></th>
                <td><input type="text" name="フリガナ" placeholder="例：ヤマダ　タロウ" required></td>
              </tr>
              <tr>
                <th>郵便番号</th>
                <td><input type="text" name="郵便番号" placeholder="例：160-0022"></td>
              </tr>
              <tr>
                <th>住所</th>
                <td><input type="text" name="住所" placeholder="例：東京都新宿区新宿1-28-3　TSG御苑ビル5F"></td>
              </tr>
              <tr>
                <th>電話番号<span class="form-require">※</span></th>
                <td><input type="text" name="電話番号" placeholder="例：03-3354-9995　携帯可" required></td>
              </tr>
              <tr>
                <th>FAX</th>
                <td><input type="text" name="FAX" placeholder="例：03-3354-9996" required></td>
              </tr>
              <tr>
                <th>メールアドレス<span class="form-require">※</span></th>
                <td><input type="text" name="メールアドレス" placeholder="abc@defg.co.jp" required></td>
              </tr>

              <tr>
                <th>お問合せ内容<span class="form-require">※</span></th>
                <td><textarea name="お問合せ内容" cols="50" rows="5"></textarea></td>
              </tr>
            </table>
            <div class="submit">
              <input class="button" type="submit" value="内容確認画面へ" />
            </div>
          </form>

          </div>


        </div>

        </div>




      </div>
    </section>



  </main>

</div>
<!-- ここまでコンテンツ -->


<% include ../common/_footer %>
