<%-
  include('../common/_head', {
    page: json['recruit']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>採用情報<span>RECRUIT</span></h2>
    </section>
    <section class="sec-content recruit-project_sec">
    <h3 class="page_sec_tlt">
      法人向けの新規プロジェクトを<br class="u-pc-hide">スタート！！
    </h3>
    <div class="l-container page-container">

      <p class="u-ta-c basic_p u-fs-18">
        お客様への細やかなサービスや<br class="u-pc-hide">手厚いフォロー体制<br>
        働きやすい環境であなたの経験を<br class="u-pc-hide">活かしてみませんか？
      </p>

        <div class="recruit-project_sec_contents">
        <div class="recruit-project_sec_contents_txt">
        <h4 class="tlt_style_01">仕事内容</h4>
      <p class="basic_p">
        国内外のツアーやタイアップイベント、観光コースのプランニング、インバウンド（外国人旅行）など、特定の業界・法人や団体への企画・提案営業。<br>
        <br>
        特定の業界・法人や団体に向けて、旅行商品などを企画提案する新たなプロジェクトを立ち上げました。今後の当社の主軸となる事業。30代前半のリーダーの下で、あなたもメンバーの1人として活躍を期待しています。<br>
        <br>
        法人やその顧客向けのツアーの企画<br>
        法人の利益につながるようなイベント（コンサートや講演会）の企画　など<br>
        まずは先輩の下でOJT。<br>
        プロジェクトの全体像を掴むともに、観光スポットやクライアントとなる法人の理解も大切です。<br>
        インバウンド事業に力を入れるために、英語の読み書きができる方を同時に募集しております。<br>
      </p>
      </div>
      <img src="/images/recruit/recruit_img.jpg" alt="仕事内容">
      </div>

      <div class="recruit-project_sec_table">
        <h4 class="tlt_style_01">募集要項</h4>
      <table class="table-default">
        <tbody>
          <tr>
            <th>仕事内容</th>
            <td>法人に対する海外業務渡航の取扱い及び当社ツアー商品の企画営業。既存取引先への提案営業と新規営業。</td>
          </tr>
          <tr>
            <th>採用対象者</th>
            <td>高卒以上、35歳まで　 ※旅行業経験者優遇</td>
          </tr>
          <tr>
            <th>給与</th>
            <td>月給25万円～35万円</td>
          </tr>
          <tr>
            <th>待遇</th>
            <td>昇給有、賞与年2回、交通費全額支給、旅行業健保加入、早出・残業手当有、添乗手当有、旅行割引制度有、国内・海外研修有、試用期間3ヶ月有</td>
          </tr>
          <tr>
            <th>勤務地</th>
            <td>新宿区（当社所在地）</td>
          </tr>
          <tr>
            <th>勤務時間</th>
            <td>9時30分～18時、土曜9時30分～15時　 ※残業有り（残業手当支給）</td>
          </tr>
          <tr>
            <th>休日休暇</th>
            <td>週休2日制（日、隔週土曜）、祝日、年末年始、有給</td>
          </tr>
          <tr>
            <th>事業内容</th>
            <td>旅行業 東京都知事登録旅行業2-2822</td>
          </tr>
          <tr>
            <th>応募</th>
            <td>まずはお電話でお問い合わせください。<br> <span class="u-fs-24 u-fw-b u-c-blue">TEL：03-3354-9995</span><br> お電話にて日程を調整後、履歴書（写貼）をご持参下さい。<br>面接日・入社日は相談に応じます。</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
</section>

  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
