<%-
  include('./common/_head', {
    page: json['home']
  });
%>
<% include common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <div class="mainvisual">

      <div class="video-wrap">
        <video autoplay muted playsinline loop>
          <source src="/video/video.mp4" type="video/mp4">
          <img src="/images/index/video.png">
        </video>
      </div>

    <div class="l-container">
      <div class="mv-text">
        <h2>
          迅速・安心・快適<br>
          トラベルを成功に導く
        </h2>
      </div>
    </div>
  </div>
<div class="home-menu">
  <div class="l-container">

    <nav id="js-menu" class="globalnavi">

       <ul class="gnavi-list">
        <li class="gnav_home"><a href="/">ホーム</a></li>
        <li><a href="/business/">業務内容</a></li>
        <li><a href="/recruit/">採用情報</a></li>
        <li><a href="/company/">会社案内</a></li>
        <li><a href="/access/">アクセス</a></li>
        <li><a href="/contact/">お問い合わせ</a></li>
        <li><a href="/platinum/">プラチナ旅行倶楽部</a></li>
      </ul>
    </nav>

  </div>
</div>

  <main class="l-main">
    <section class="sec-content home-wpo_sec bg-ptn_yellow">
      <div class="l-container l-container_round bg-dot_yellow">
        <h2 class="sec-title sec-title_home">
          WPOセレクト<span class="sec-title_style_01">『うぽ』</span><br>
          <span class="sec-title_style_02 sec-title_en">by World planning oﬃce.</span>
        </h2>
        <ul class="home-wpo_sec_list">
          <li>
            <a href="#">
              <img src="/images/index/wpo_goto.png" srcset="/images/index/wpo_goto.png 1x, /images/index/wpo_goto@2x.png 2x" alt="Go to travel ワールドプランニングオフィス限定！ お得な宿泊プラン！">
              <p class="btn_arrow">
                <span>
                『旅で日本を元気にしよう。』<br>
                GoToトラベルは、旅行代金の一部を国が補助してくれるお得なキャンペーン！<br>
                当社スタッフが厳選した特別な宿泊プランをご用意しております。<br>
                </span>
              </p>
            </a>
          </li>

          <li>
            <a href="https://wpomarket.thebase.in/">
              <img src="/images/index/wpo_takuhai.png" srcset="/images/index/wpo_takuhai.png 1x, /images/index/wpo_takuhai@2x.png 2x" alt="全国のおいしい！楽しい！をお届け♪日本全国WPOセレクト「うぽ」宅配便">
              <p class="btn_arrow">
                <span>
                ワールドプランニングオフィスが提供する物販販売から厳選した名産をpick up！<br>
                うぽ宅急便のWEB SHOPがオープン！
                </span>
              </p>
            </a>
          </li>

          <li>
            <a href="#">
              <img src="/images/index/wpo_market.png" srcset="/images/index/wpo_market.png 1x, /images/index/wpo_market@2x.png 2x" alt="全国名産セレクションWEBショップWPOMARKET">
              <p class="btn_arrow">
                <span>
                ワールドプランニングオフィスが展開する全国各地名産品物販事業。<br>
                地方の観光地のお土産やなかなか手に入らないものもここで買えるチャンス！
                </span>
              </p>
            </a>
          </li>

        </ul>
        <div class="home-form_sec home-form_sec_goto home-form_sec_m">
            <a class="btn_arrow bg-dot_blue" href="/goto_form/"><h3>GoToトラベル<br class="u-pc-hide">キャンペーン　<br class="u-pc-hide">個人旅行お問合せフォーム</h3></a>
        </div>

        <div class="home-form_sec home-form_sec_sale home-form_sec_m">
          <a class="btn_arrow bg-dot_blue" href="/product_sale_form/"><h3>物販商品掲載<br class="u-pc-hide">お問合せフォーム<br class="u-pc-hide">（事業者様向け）</h3></a>
        </div>

      </div>
    </section>





    <section class="sec-content home-support_sec">
      <div class="l-container l-container_round bg-dot_blue">
        <h2 class="tlt_dot_blue">
          旅行・出張の各種手配を<br class="u-pc-hide">サポート
        </h2>
        <p>
          法人（お客様）ごとに<span>専任者が責任</span>を持って、<span>迅速・安全・快適</span>な旅行を目指して<br class="u-sp-hide">
          <span>各種手配をトータルサポート</span>します。
        </p>
      </div>
    </section>

    <section class="sec-content home-news_sec bg-dot_blue">
      <div class="l-container">
        <h2 class="sec-title sec-title_home">
          NEWS/<br>
          INFORMATION
        </h2>
        <ul class="home-news_sec_list">
          <li>
            <a href="#">
              <p class="home-news_sec_list_data">2020/00/00</p>
              <span class="home-news_sec_list_cat home-news_sec_list_cat_news">NEWS</span>
              <h3>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="home-news_sec_list_data">2020/00/00</p>
              <span class="home-news_sec_list_cat home-news_sec_list_cat_information">INFORMATION</span>
              <h3>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="home-news_sec_list_data">2020/00/00</p>
              <span class="home-news_sec_list_cat home-news_sec_list_cat_news">NEWS</span>
              <h3>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
            </a>
          </li>
          <li>
            <a href="#">
              <p class="home-news_sec_list_data">2020/00/00</p>
              <span class="home-news_sec_list_cat home-news_sec_list_cat_information">INFORMATION</span>
              <h3>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h3>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="sec-content home-form_sec">
      <div class="l-container">
        <a class="btn_arrow bg-dot_blue" href="/grouptravel/"><h3>団体旅行お問合せ<br class="u-pc-hide">フォーム<span>はこちら</span></h3></a>
      </div>
    </section>

    <section class="sec-content home-banner_sec bg-dot_blue">
      <div class="l-container">
        <ul class="home-banner_sec_list">
          <li class="hover_scale">
            <a href="https://drive.google.com/file/d/14OCKMsnpsq6R2d9ADfo5g_IzCBaSKDoE/view" target="_blank">
              <!--<img class="u-sp-hide" src="/images/index/bnr_goto.png" srcset="/images/index/bnr_goto.png 1x, /images/index/bnr_goto@2x.png 2x" alt="新型コロナウイルスにおける当社の団体旅行対策および 「Go To Travelキャンペーン」概要について (2020.6.24更新)">-->
              <img src="/images/index/bnr_goto_s.png" srcset="/images/index/bnr_goto_s.png 1x, /images/index/bnr_goto_s@2x.png 2x" alt="新型コロナウイルスにおける当社の団体旅行対策および 「Go To Travelキャンペーン」概要について (2020.6.24更新)">
            </a>
          </li>
          <li class="hover_scale">
            <a href="https://goto.jata-net.or.jp/" target="_blank">
              <img src="/images/index/bnr_goto_link.png" srcset="/images/index/bnr_goto_link.png 1x, /images/index/bnr_goto_link@2x.png 2x" alt="GoToトラベルキャンペーン旅行者向け公式サイト">
            </a>
          </li>
          <li class="hover_scale">
            <a href="https://tokyo-haneda.com/flight/flightInfo_int.html" target="_blank">
              <img src="/images/index/bnr_haneda.png" srcset="/images/index/bnr_haneda.png 1x, /images/index/bnr_haneda@2x.png 2x" alt="羽田空港国際線旅客ターミナル公式WEBサイト">
            </a>
          </li>
          <li class="hover_scale">
            <a href="https://www.narita-airport.jp/jp/flight/today/" target="_blank">
              <img src="/images/index/bnr_narita.png" srcset="/images/index/bnr_narita.png 1x, /images/index/bnr_narita@2x.png 2x" alt="成田国際空港公式WEBサイト">
            </a>
          </li>
          <li class="hover_scale">
            <a href="http://www.jjrakoo.com/" target="_blank">
              <img src="/images/index/bnr_rakoo.png" srcset="/images/index/bnr_rakoo.png 1x, /images/index/bnr_rakoo@2x.png 2x" alt="Joyful Japan Rakoo 訪日外国人専用サイト">
            </a>
          </li>
          <li class="hover_scale">
            <a href="https://townwifi.com/lp/wpo/?pr_vmaf=mgiUKIGKGS" target="_blank">
              <img src="/images/index/bnr_wifi.png" srcset="/images/index/bnr_wifi.png 1x, /images/index/bnr_wifi@2x.png 2x" alt="海外でも快適インターネット! 海外用WiFiレンタルのグローバルWiFi GLOBAL Wifi">
            </a>
          </li>
          <li class="hover_scale">
            <a href="/recruit/" target="_blank">
              <img src="/images/index/bnr_recruit.png" srcset="/images/index/bnr_recruit.png 1x, /images/index/bnr_recruit@2x.png 2x" alt="採用情報">
            </a>
          </li>
          <li class="hover_scale">
            <a href="/platinum/" target="_blank">
              <img src="/images/index/bnr_platinum.png" srcset="/images/index/bnr_platinum.png 1x, /images/index/bnr_platinum@2x.png 2x" alt="プラチナ旅行倶楽部">
            </a>
          </li>
        </ul>
      </div>
    </section>

  </main>

</div>

<!-- ここまでコンテンツ -->

<% include common/_footer %>
