<%-
  include('../common/_head', {
    page: json['detail']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>ニュース<span>NEWS</span></h2>
    </section>
    <section class="sec-content detail_sec">
    <div class="l-container page-container">
      <div class="page-inner">
        <h4 class="tlt_style_01">
          <span>00.00.00</span>
          タイトル
        </h4>
      <p class="u-ta-c basic_p">
      </p>
      </div>
    </div>
</section>

  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
