<%-
  include('../common/_head', {
    page: json['access']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>アクセス<span>ACCESS</span></h2>
    </section>
    <section class="sec-content access-map_sec">
      <p class="u-pt-60"></p>
    <div class="l-container page-inner">
      <h4>新宿御苑前徒歩5分</h4>
      <p class="u-ta-c basic_p u-ta-c">
        東京メトロ丸の内線　新宿御苑前　<br class="u-pc-hide">2番出口を出て左。<br>
        一つ目の横断歩道を左折、少し直進して公衛ビルを右折し、左側にあるTSG御苑ビルの5Ｆです。
        </p>
        <div class="gmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1620.2367226155463!2d139.7117879!3d35.6899653!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cc295e120c9%3A0x2a663beee42a22e4!2z77yI5qCq77yJ44Ov44O844Or44OJ44OX44Op44Oz44OL44Oz44Kw44Kq44OV44Kj44K5!5e0!3m2!1sja!2sjp!4v1600847334239!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        <h4>アクセス方法
</h4>
        <p class="u-ta-c basic_p u-ta-c u-pb-20">
          東京メトロ丸の内線「新宿御苑前」<br class="u-pc-hide">駅2番出口から徒歩4分<br>
          東京都新宿区新宿1-28-3 TSG御苑ビル5F
          </p>
    </div>
</section>

  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
