<%-
  include('../common/_head', {
    page: json['business']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>業務案内<span>OUR BUSINESS</span></h2>
    </section>
    <section class="sec-content business-travel_sec">
    <h3 class="page_sec_tlt">
      円滑な手配で快適な旅行を
    </h3>
    <div class="l-container page-container">
      <div class="page-inner">
      <img src="/images/business/business_1_img.png" srcset="/images/business/business_1_img.png 1x, /images/business/business_1_img@2x.png 2x" alt="円滑な手配で快適な旅行を">
      <p class="u-ta-c basic_p">
        ワールドプランニングオフィスは、法人様向けのサービスとして<br>業務出張・視察旅行・長期滞在・赴任駐在等の業務渡航の手配や<br>
        檀参旅行、四国遍路、観音霊場等の国内外の巡礼旅行、社員旅行、親睦旅行のプランニング、家族旅行の手配など、
        <br>皆様の目的に合わせて、世界に一つだけの旅行プランを考え、<br>
        楽しいひとときをお過ごし頂けるように心がけております。
        <br>
        <br>
        旅行の各種手配、レンタカーやバスの手配、保険等など全てにおいてご対応致します。ぜひ一度お試し下さい。<br>
      </p>
      </div>
    </div>
</section>

<section class="sec-content business-arrange_sec">
<h3 class="page_sec_tlt">
  各種旅行手配
</h3>
<div class="l-container page-container">
  <img class="u-sp-hide" src="/images/business/business_2_img.png" srcset="/images/business/business_2_img.png 1x, /images/business/business_2_img@2x.png 2x" alt="各種旅行手配">
  <img class="u-pc-hide" src="/images/business/business_2_img_s.png" srcset="/images/business/business_2_img_s.png 1x, /images/business/business_2_img_s@2x.png 2x" alt="各種旅行手配">

</div>
</section>

<section class="sec-content business-efficiency_sec">
<h3 class="page_sec_tlt">
  効率よく、柔軟な対応で<br class="u-pc-hide">負担を減らします
</h3>
<div class="l-container page-container">
  <h4>一つの窓口で負担を軽減</h4>
  <p class="u-ta-c basic_p">
    担当のスタッフが航空券手配からホテル、ビザ、現地のレンタカー等の手配まで行います。<br>
    今まで手間になっていた面倒な手続きは弊社スタッフが一手に引き受けます。
  </p>
  <ul class="business-efficiency_sec_list">
    <li>
      <div class="business-efficiency_sec_list_img">
        <img src="/images/business/business_efficiency_1.png" srcset="/images/business/business_efficiency_1.png 1x, /images/business/business_efficiency_1@2x.png 2x" alt="航空券手配">
      </div>
      <h4>航空券手配</h4>
      <p>
        日本航空、全日空をはじめ、各国の航空会社を取り扱っております。お客様のご要望に応じ、また渡航先への効率等を考慮し、ご提案させて頂きます。
      </p>
    </li>
    <li>
      <div class="business-efficiency_sec_list_img">
        <img src="/images/business/business_efficiency_2.png" srcset="/images/business/business_efficiency_2.png 1x, /images/business/business_efficiency_2@2x.png 2x" alt="ホテル手配">
      </div>
      <h4>ホテル手配</h4>
      <p>
        価格を抑えたビジネスホテル、長期滞在者用のホテル、社員旅行・インセンティブ旅行向きのリゾートホテル等、お客様のご要望に応じたホテルの手配が可能です。
      </p>
    </li>
  </ul>
  <h4>コストを減らしたい</h4>
  <p class="u-ta-c basic_p">
「出張回数を減らす」たしかにコストは下がりますが、企業競争力にも関わってくる問題です。<br>
継続的なコスト削減もご提案致しますので、コスト削減をお悩みの場合もご相談ください。
  </p>
</div>
</section>
  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
