<%-
  include('../common/_head', {
    page: json['company_en']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>COMPANY</h2>
    </section>
    <section class="sec-content company-message_sec">
    <h3 class="page_sec_tlt">
      Message from President
    </h3>
    <div class="l-container page-container">


        <div class="page-inner">
          <h4 class="tlt_style_01">As professional travel planners, we promise to respond to all our customers' needs.</h4>
          <p class="basic_p">
  Travel industry in Japan has accomplished remarkable developments with Japanese economic growth, and a new era is now dawning. From a consumer's view of point, they have shifted their positions from be provided to someone who can select. Computerization brought about new styles of travel and they are increasing more and more. In addition, customers' needs are extremely diversifying values against a backdrop of employment measures and a expansion of workers' leisure time. Our catchphrase is "Be a professional travel planner who can respond to all our customers' needs". We have been aiming at this catchphrase since our establishment, and just now the entire travel industry must also aim at it. We have been providing safe and fascinating tours to our clients based on an abundant experience and quick information gathering ability. Our services are not limited domestic and overseas tours for individuals or groups but also MICE, BTM and so on . In the future, all our staffs will work as one and do our best to provide our clients with satisfying services.
          </p>
          <p class="u-ta-r u-mt-30">
            Takamitsu Shiiba<br>
            President and Chief Executive Officer<br>
            World Planning Office Co., Ltd.<br>
          </p>
       </div>



    </div>
</section>

<section class="sec-content company-message_sec">
<h3 class="page_sec_tlt">
  Corporate Profile
</h3>
<div class="l-container page-container">
  <div class="page-inner">
  <table class="table-default">
    <tbody><tr>
  						<th>Company Name</th>
  						<td>WORLD PLANNING OFFICE CO.,LTD</td>
  					</tr>
  					<tr>
  						<th>Representative</th>
  						<td>President 　　SHIIBA, Takamitsu</td>
  					</tr>
  					<tr>
  						<th>Office</th>
  						<td>TSG Gyoen Bldg. 5F, <br>
  						  28-3, Shinjuku 1-chome, <br>
  					    Shinjuku-ku, Tokyo 160-0022, Japan </td>
  					</tr>

  			    <tr>
  						<th>Date Established</th>
  						<td>Jul 7, 1988</td>
  					</tr>
  					<tr>
  						<th>Capital</th>
  						<td>23,000,000 yen (JPY)</td>
  					</tr>
  					<tr>
  						<th>Main Business Activities</th>
  						<td>Travel business (Domestic, Overseas, Inbound)<br>
  						  Sales of tickets for passengers (JR tickets, Airline Tickets and other means of transport)<br>
  						  Sales of package tours based on affiliate agreement<br>
  					    Travel insurance selling as the agency of AIU insurance company , Ltd. </td>
  					</tr>
  					<tr>
  						<th>Licenses </th>
  						<td>Travel agent license (No.2-2822) registered by Tokyo Metropolitan Government.</td>
  					</tr>
                      <tr>
  						<th>Registrations</th>
  						<td>Full member registered by All Nippon Travel Agents Association (ANTA) . <br>
  						  Supporting member registered by Japan Association of Travel Agents (JATA) <br>
  						  Full member registered by Japan Council of Travel Agents for Chinese Visitors <br>
  					    Member registered by Travel Agency Fair Trade Council</td>
  					</tr>
  					<tr>
  						<th>Subsidary Companty</th>
  						<td>Travel World Business LLC.<br>
  					    (Travel agent license (No.10985) from Tokyo Metropolitan Government.</td>
  					</tr>
  					<tr>
  						<th>Bank References</th>
  						<td>The Bank of Tokyo-Mitsubishi UFJ, Ltd., Shinjuku-dori Branch<br>
  						  Mizuho Bank,Ltd (MHBK), Shinjuku Branch<br>
  					    Sumitomo Mitsui Banking Corporation, Shinjuku-dori Branch</td>
  					</tr>
  				</tbody>
  </table>


  </div>
</div>
</section>

<section class="sec-content company-message_sec">
  <h3 class="page_sec_tlt">
    History
  </h3>
  <div class="l-container page-container">
    <div class="page-inner">
    <table class="table-default">
      <tbody><tr>
  						<th>July 7, 1988</th>
  						<td>Obtained a domestic travel agent license (No.2822) from Tokyo Metropolitan Government.<br>
  					    Started a travel business in Ikebukuro by investing 6,000,000 yen.</td>
  					</tr>
  					<tr>
  						<th>May 11, 1989</th>
  						<td>Started a travel business as an agent listed on Japan Airlines Group, Japan Tour System Co., Ltd. (now JAL Sales Co., Ltd.) <br>
  						  Obtained a travel agent license (No.5903) from Ministry of Transportation.<br>
  					  Increased capital to 10,000,000 yen.<br></td>
  					</tr>
  					<tr>
  						<th>April 1, 1997</th>
  						<td>Obtained a travel agent license (No.3-2822) from Tokyo Metropolitan Government<br>
  					    following the revision of Travel Agent act.</td>
  					</tr>
  					<tr>
  						<th>June 19, 2001</th>
  						<td>Registered Travel World Business LLC.as a travel agent</td>
  					</tr>
                      <tr>
  						<th>July 5, 1997</th>
  						<td>Moved the head office to Shinjuku, Shinjuku-ku, Tokyo.</td>
  					</tr>
                      <tr>
  						<th>June, 2005</th>
  						<td>Increased capital to 20,000,000 yen.</td>
  					</tr>
                      <tr>
  						<th>November 11, 2008</th>
  						<td>Established Platinum Travel Club</td>
  					</tr>
  					<tr>
  						<th>June 2, 2014</th>
  						<td>Moved the head office to the current address in Shinjuku-ku, Tokyo.</td>
  					</tr>
  					<tr>
  						<th>July 25, 2014</th>
  						<td>Increased capital to 23,000,000 yen.</td>
  					</tr>
                      <tr>
  						<th>October 13, 2015</th>
  						<td>Listed on All Nippon Travel Agents Association (ANTA) as a full member.</td>
  					</tr>
                      <tr>
  						<th>November 20, 2015</th>
  						<td>Listed on Japan Council of Travel Agents for Chinese Visitors as a full member.</td>
  					</tr>
                      <tr>
  						<th>January 14, 2016</th>
  						<td>Obtained a travel agent license (No.2-2822) from Tokyo Metropolitan Government<br>
  					    following the revision of Travel Agent act.</td>
  					</tr>
                      <tr>
  						<th>January 18, 2016</th>
  						<td>Sales through Joyful Japan Rakoo are launched on the inbound travel market.</td>
  					</tr>
  				</tbody>
    </table>


    </div>

  </div>
</section>
  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
