<%-
  include('../common/_head', {
    page: json['platinum']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>プラチナ旅行倶楽部<span>PLATINUM TRAVEL CLUB</span></h2>
    </section>
    <section class="sec-content platinum-intro_sec">
      <h3 class="page_sec_tlt">
        旅行やイベントを通じた<br class="u-pc-hide">会員相互の交流を深める
      </h3>
      <div class="l-container page-container">

        <div class="page-inner">
        <div class="u-ta-c">
          <p class="basic_p">
            当社の固定顧客には各種法人の他に、長年ご利用頂いている個人客、旅行サークルなどがございます。<br>
            基本的にはメンバーの紹介が有れば誰でも参加出来るシステムで、年に１～２回、国内、海外旅行などを企画し、<br>新しい出会や、交流を楽しんで<br class="u-pc-hide">いらっしゃいます。<br>
            最大の目的は、他サークルの方々、個人会員の方々との倶楽部内でのジョイントを<br class="u-pc-hide">図る事によって、<br>新しい方々との出会いの機会を増やし、<br>
            旅行企画、各種イベント企画等をより一層充実した内容にする事に有ります。<br>
          </p>
          <img class="u-mt-40 u-mb-40" src="/images/platinum/platinum.jpeg" alt="プラチナ旅行倶楽部">
        </div>
        <div class="u-ta-c">
          <h4>社会貢献、国際貢献の<br class="u-pc-hide">一環として</h4>
          <p class="basic_p platinum-intro_sec_txt">
            「プラチナ旅行倶楽部」は別紙会員規則に有ります様に、会員の皆様方より年会費を頂戴いたします。<br>
            年会費の使用目的は、社会貢献、国際貢献の一環として、その全額を下記組織団体に会員全員の総意として寄付し、各々の目的の為に利用させて頂きますので、何卒ご理解、ご了承の程お願い申しあげます。
          </p>
        </div>
        </div>
        <div class="page-inner">
          <h4 class="tlt_style_01">財団法人日本盲導犬協会</h4>
          <table class="table-default">
            <tbody>
              <tr>
                <th>協会概要</th>
                <td>昭和42年8月10日設立され、盲導犬の育成と視覚障害リハビリテーション事業を通して視覚障害者の社会参加を促進し、視覚障害者福祉の増進に寄与することを目的としています。</td>
              </tr>
              <tr>
                <th>寄付金使用目的</th>
                <td>盲導犬育成の為の費用</td>
              </tr>
              <tr>
                <th>寄付方法</th>
                <td>会員名簿を添えて協会に寄付いたします。</td>
              </tr>
            </tbody>
          </table>


        </div>


        <div class="page-inner">
          <h4 class="tlt_style_01">新疆大学沙漠緑化国際研究プロジェクト</h4>
          <table class="table-default">
            <tbody>
              <tr>
                <th>協会概要</th>
                <td>「あなたの力で100年後 沙漠のシルクロードを緑のシルクロードに」をキャッチフレーズに、「沙漠緑化の推進」を目的に設立された国際研究機関で正式名称は「新疆大学旱魃区持続発展国際研究中心」、愛称は「GREEN FLAG」とし、世界各国に国際支部を設けることになっています。<br>
                  日本支部は国際支部の第１号で、事務局は（株）ワールドプランニンングオフィス内に有り、理事長は東京理科大学大林成行名誉教授、理事兼事務局長を当社の役員武井渉が努めております。国際貢献と国際交流をテーマに日本人対象の現地派遣プログラムを企画し、新疆大学の学生たちと一緒に沙漠の植樹活動など行っています。</td>
              </tr>
              <tr>
                <th>寄付金使用目的</th>
                <td>当社が手配担当する派遣団に、植樹用の苗の提供や派遣団に対する各種フォローアップ費用</td>
              </tr>
              <tr>
                <th>寄付方法</th>
                <td>会員名簿を添えて、新疆大学プロジェクト本部に寄付いたします。</td>
              </tr>
            </tbody>

          </table>


        </div>



      </div>
    </section>

    <section class="sec-content platnum-kisoku_sec">
      <h3 class="page_sec_tlt">
        会員規則
      </h3>
      <div class="l-container page-container">
        <div class="page-inner">
          <div class="platinum-kisoku_sec_table">
          <dl>
            <dt>会員規則名称</dt>
            <dd>「プラチナ旅行倶楽部」</dd>
          </dl>
          <dl>
            <dt>場所</dt>
            <dd>株式会社　<br class="u-pc-hide">ワールドプランニングオフィス内</dd>
          </dl>
          <dl>
            <dt>目的</dt>
            <dd>倶楽部主催の旅行及びイベントなどを通じ、会員相互間の交流を深めると共に、広く多くの人々に対して、新しい出会いと情報交換の機会を提供し、社会貢献、国際貢献に寄与する事を目的とする。</dd>
          </dl>
          <dl>
            <dt>会員資格</dt>
            <dd>会員の方１名の推薦が必要となります。</dd>
          </dl>
          <dl>
            <dt>年会費</dt>
            <dd>お一人様￥2,000-（ご夫婦会員はお二人様で￥3,000-）
              お預かりした年会費は「財団法人日本盲犬協会」「新疆大学沙漠緑化国際研究プロジェクト」に、会員名簿を添え、その全額を寄付させて頂きます。<br>
              尚年会費の集金内訳、寄付金の内訳等は年一回の会計報告書にて、報告させて頂きます。<br>
              尚年会費の期間は、1月を年度始まりとし12月までの1年間とします。</dd>
            </dl>
            <dl>
            <dt>申し込み方法</dt>
            <dd>
              <p class="mb10">所定の会員申込書に必要事項をご記入の上、事務局宛にご送付下さい。<br>
                同時に下記「プラチナ旅行倶楽部」指定銀行口座に年会費をお振込み下さい。</p>
              <dl class="tab_list01">
                <dt>銀行名</dt>
                <dd>三菱東京UFJ銀行</dd>
                <dt>支店名</dt>
                <dd>新宿通支店</dd>
                <dt>口座番号</dt>
                <dd>普通預金　0010011</dd>
                <dt>口座名</dt>
                <dd>プラチナ旅行倶楽部　代表　椎葉卓光</dd>
              </dl>
            </dd>
          </dl>
          <dl>
            <dt>役員会</dt>
            <dd>会員の中より役員を選出し、随時開催の役員会に於いて、旅行企画、イベント企画などの内容、倶楽部運営規則などの決定を行います。</dd>
          </dl>
          <dl>
            <dt>会員名簿</dt>
            <dd>会員名簿を作成し、会員全員に送付いたします。</dd>
          </dl>
          <dl>
            <dt>イベント</dt>
            <dd>会員間及び新規入会希望者との相互交流を図る為、旅行企画とは別に、懇親パーティ、イベントなどを随時企画し、有料開催致します。</dd>
          </dl>
          <dl>
            <dt>個人情報の利用</dt>
            <dd>会員の方との連絡、旅行、イベントなどの情報のご案内及び、指定団体への寄付金名簿作成の為のみの利用といたします。</dd>
          </dl>
          <dl>
            <dt>退会</dt>
            <dd>都合により退会される場合は事務局宛にご連絡下さい。尚年度途中退会による年会費の返還はございませんのでご了承下さい。</dd>
          </dl>
          <dl>
            <dt>事務局</dt>
            <dd>〒160-0022　東京都新宿区新宿1-28-3 TSG御苑ビル5F　（株）ワールドプランニングオフィス内<br>
              「プラチナ旅行倶楽部」<br>
              TEL：03-3354-9995　FAX：03-3354-9996<br>
              Eメール： info@wpo‐net.co.jp</dd>
          </dl>

        </div>
      </div>
      </div>
    </section>

  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
