<%-
  include('../common/_head', {
    page: json['company']
  });
%>
<% include ../common/_header %>

<!-- ここからコンテンツ -->

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>会社案内<span>COMPANY</span></h2>
    </section>
    <section class="sec-content company-message_sec">
    <h3 class="page_sec_tlt">
      代表者メッセージ
    </h3>
    <div class="l-container page-container">


        <div class="page-inner">
          <h4 class="tlt_style_01">旅のプランナーとしてお客様のニーズにお応えする</h4>
          <p class="basic_p">
            日本の経済成長と共に、めざましい発展を遂げて来た旅行産業の世界は今新たな時代を迎えようとしています。<br>
            消費者側から見れば、提供される立場から、選べる立場にと、まさに情報化がもたらした新しい形の旅行形態が増えてまいりました。<br>
            併せて雇用対策、余暇時間の拡大などによって消費者のニーズは、多種多様をきわめ、弊社が創立以来目標としてきた<br>
            <span class="u-fs-18 u-c-blue">『お客様のニーズに応えられる旅のプランナー 』</span><br>
            のキャッチフレーズは今まさに旅行業界全体が目指さなければならないものになってまいりました。<br>
            <br>
            国内、海外の個人旅行、団体旅行はもとより、国際会議、コンベンション、インセンティブツアー、業務渡航等、<br>
            これまで弊社は豊富な経験といち早い情報収集により、安全且つ魅力的な旅を提供し続けてまいりました。<br>
            今後もスタッフ一丸となって皆様方に満足頂けるサービスを心がけていく所存です。<br>
          </p>
          <p class="u-ta-r u-mt-30">
            <img src="/images/company/name_img.jpg" alt="代表取締役社長　椎葉　卓光">
          </p>
       </div>



    </div>
</section>

<section class="sec-content company-message_sec">
<h3 class="page_sec_tlt">
  会社概要
</h3>
<div class="l-container page-container">
  <div class="page-inner">
  <table class="table-default">
    <tbody><tr>
                <th>会社名</th>
                <td>株式会社ワールドプランニングオフィス</td>
              </tr>
              <tr>
                <th>代表者</th>
                <td>代表取締役社長　椎葉　卓光</td>
              </tr>
              <tr>
                <th>所在地</th>
                <td>〒160-0022　東京都新宿区新宿1-28-3　ＴＳＧ御苑ビル5階</td>
              </tr>
              <tr>
                <th>電話番号</th>
                <td>03-3354-9995</td>
              </tr>
              <tr>
                <th>FAX番号</th>
                <td>03-3354-9996</td>
              </tr>
              <tr>
                <th>設立</th>
                <td>1988年7月7日</td>
              </tr>
              <tr>
                <th>資本金</th>
                <td>2,300万円</td>
              </tr>
              <tr>
                <th>事業内容</th>
                <td>海外国内旅行の企画販売、諸手続き、予約手配、並びに添乗サービス<br>
                  保険代理業務</td>
              </tr>
              <tr>
                <th>免許等</th>
                <td>東京都知事登録旅行業第2-2822</td>
              </tr>
              <tr>
                <th>所属団体</th>
                <td>全国旅行業協会正会員<br>
                  日本旅行業協会協賛会員<br>
                  中華人民共和国訪日観光客受入旅行会社連絡協議会入会　（会員番号　1015-003）<br>
                  旅行業公正取引協議会正会員</td>
              </tr>
                        <tr>
                <th>代理店</th>
                <td>有限会社　トラベルワールドビジネス （東京都知事登録旅行業者代理店業第10985）</td>
              </tr>
              <tr>
                <th>取扱金融機関</th>
                <td>三菱東京UFJ銀行<br>
                  三井住友銀行<br>
                              みずほ銀行</td>
              </tr>
            </tbody>
  </table>


  </div>
</div>
</section>

<section class="sec-content company-message_sec">
  <h3 class="page_sec_tlt">
    沿革
  </h3>
  <div class="l-container page-container">
    <div class="page-inner">
    <table class="table-default">
      <tbody><tr>
                  <th>1988年7月7日</th>
                  <td>東京都知事登録国内旅行業第2822号　資本金600万円にて池袋に於て営業開始</td>
                </tr>
                <tr>
                  <th>1989年5月11日</th>
                  <td>日本航空グループ　株式会社ジャパンツアーシステム（現　株式会社　ジャルセールス）の旅行代理店業<br>
                    （運輸大臣登録旅行業代理店業第5903号）として営業開始<br>
                    資本金1,000万円に増資<br></td>
                </tr>
                <tr>
                  <th>1997年4月1日</th>
                  <td>旅行業改正により東京都知事登録旅行業第3-2822　取得</td>
                </tr>
                <tr>
                  <th>1997年7月5日</th>
                  <td>本社営業所新宿に移転</td>
                </tr>
                          <tr>
                  <th>2001年6月19日</th>
                  <td>有限会社トラベルワールドビジネスを旅行業者代理店（東京都知事登録旅行業代理店業第10985号）として登録</td>
                </tr>
                          <tr>
                  <th>2005年6月</th>
                  <td>資本金2,000万円に増資</td>
                </tr>
                          <tr>
                  <th>2008年11月</th>
                  <td>プラチナ旅行倶楽部設立</td>
                </tr>
                <tr>
                  <th>2014年6月2日</th>
                  <td>川辺第二ビルに移転</td>
                </tr>
                <tr>
                  <th>2014年7月25日</th>
                  <td>資本金2,300万円に増資</td>
                </tr>
                          <tr>
                  <th>2015年10月13日</th>
                  <td>全国旅行業協会（ANTA）正会員加盟</td>
                </tr>
                          <tr>
                  <th>2015年11月20日</th>
                  <td>中華人民共和国訪日観光客受入旅行会社連絡協議会正会員（会員番号　1015-003）</td>
                </tr>
                          <tr>
                  <th>2016年1月14日</th>
                  <td>東京都知事登録旅行業第2-2822号　取得</td>
                </tr>
                          <tr>
                  <th>2016年1月18日</th>
                  <td>訪日外国人旅行ブランド　Joyful Japan Rakoo　営業開始</td>
                </tr>
              </tbody>
    </table>


    </div>

  </div>
</section>
  </main>

</div>
<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
