.c-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  @include min-screen($break_point_min) {
    margin-top: 0;
  }
	> dl {
    display: table-row;
		@include min-screen($break_point_min) {
      font-size: 15px;
		}


	  > dt {
      width: 120px;
			padding: 10px;
			display: table-cell;
      vertical-align: middle;
      font-weight: bold;
      text-align: left !important;
      border-left: solid 6px #00128b;
      padding: 7px 0px 7px 15px;
      margin-bottom: 40px;
      font-size: 23px !important;
      @include min-screen($break_point_min) {
        font-size: 27px !important;
      }
			@include min-screen($break_point_min) {
				width: 240px;
        padding: 20px;
			}
		}
		> dd {
      display: table-cell;
      padding: 10px;
			@include min-screen($break_point_min) {
        padding: 20px;
			}

      .c-table-title {
        font-family: $font__main;
      }

      .c-table-list {
        margin-bottom: 25px;
        &:last-of-type {
          margin-bottom: 0;
        }
        padding-left: 1.5em;
        > li {
          margin-bottom: 15px;
          list-style: disc;
          @include min-screen($break_point_min) {
            margin-bottom: 10px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }

        &__nomargin {
          > li {
            margin: 0;
            @include min-screen($break_point_min) {
              margin: 0;
            }
          }
        }
      }
		}
	}
}

.c-table--child {
  width: 100%;
  display: table;

  dt {
    display: table-cell;
    width: 52px;
    @include min-screen($break_point_min) {
      width: 62px;
    }
  }
  dd {
    display: table-cell;
  }
}

.table-default {
  font-size: 15px;
	tr {
		th {
			position: relative;
			width: 205px;
      background-color: #efeded;
			padding: 20px;
			vertical-align: middle;
			text-align: left;
			border:none;
      border-bottom: solid 1px $white;
      font-weight: bold;
			@include max-screen($break_point_min) {
				display: block;
				width: 100%;
				height: auto;
			}
		}
		td {
			position: relative;
			border: none;
			padding: 20px;
      text-align: left;
      background-color: $white;
      border-bottom: solid 1px #cbd2e0;
			@include max-screen($break_point_min) {
				display: block;
				width: 100%;
			}
		}
    &:last-child{
      th,td{
        border-bottom: none !important;
      }
    }
	}
  input,textarea{
    border: solid 1px #b7b7b7 !important;
    border-radius: 10px;
    padding-left: 15px;
  }
}

.form-table{
  border:none !important;
  tr{
    border:none !important;
    th{
      border:none !important;
      background-color: unset;
      font-size: 15px;
      width: 235px;
      vertical-align: top;
    }
    td{
      border:none !important;
    }
    input,textarea{
      border: none !important;
    }
  }
}
