<%-
  include('../common/_head', {
    page: json['goto_form']
  });
%>



<div class="main-block">
  <main class="l-main">
    <section class="page-header">
       <h2>GoToトラベルキャンペーン<br>個人旅行お問合せフォーム<span>GOTO TRAVEL FORM</span></h2>
    </section>
    <section class="sec-content contact-intro_sec">
      <div class="l-container page-container">

        <div class="page-inner">
          <div class="goto_form_sec">
          <h4>
            <img src="/images/goto_form/ico_plane.png" srcset="/images/goto_form/ico_plane.png 1x, /images/goto_form/ico_plane@2x.png 2x" alt="">GoToトラベルキャンペーン<br class="u-pc-hide">について
          </h4>
          <p class="basic_p">
            GoToトラベルキャンペーンとは、一定期間（2020年7月末～2021年1月31日宿泊分（※））を対象とし、<br>
            官民一体型の地域活性化、観光需要喚起を目的として政府が国内旅行代金の補助を行うとってもお得なキャンペーンです！<br>
            ※修学旅行については2020年3月30日宿泊分まで<br>
            当社では、スタッフが厳選したオリジナル宿泊プランをはじめ、受託取扱契約を結ぶ各社パッケージプラン、<br>その他受注型企画旅行（団体旅行等）において、<br>
            GoToトラベルキャンペーンをご利用いただけます。<br>
            この機会に、いつもよりちょっぴり贅沢な旅行を楽しみませんか？？<br>
          </p>
            <h5><img src="/images/goto_form/ico_q.png" srcset="/images/goto_form/ico_q.png 1x, /images/goto_form/ico_q@2x.png 2x" alt="">《対象期間について》</h5>
            <p class="basic_p">
            ※補助金予算が上限に達し次第販売終了となります。予めご了承ください。 <br>
            ※実施期間は今後変更となる可能性がございます。新型コロナウイルス感染症対策の状況等を踏まえ、 <br>
            給付金の給付を一時的に停止することがあります。
            </p>
            <h5><img src="/images/goto_form/ico_travel.png" srcset="/images/goto_form/ico_travel.png 1x, /images/goto_form/ico_travel@2x.png 2x" alt="">《対象の旅行》</h5>
            <p class="basic_p">
            ■対象商品：当社にて取扱う宿泊<br>
            ・日帰り国内旅行商品（宿泊を含む場合、参加事業者として指定された宿泊施設に限ります。）<br>
 ・当社と受託契約を結ぶ旅行会社の募集型企画旅行（JTB／ANAセールス／ビッグホリデー　など）<br>
            ・手配旅行（宿泊のみ／当社オリジナル宿泊プラン含む）<br>
            ・受注型企画旅行（団体旅行・募集型イベントツアー等）<br>
            </p>
            <h5><img src="/images/goto_form/ico_money.png" srcset="/images/goto_form/ico_money.png 1x, /images/goto_form/ico_money@2x.png 2x" alt="">《旅行代金補助額》</h5>
            <p class="basic_p">
            国内旅行を対象に宿泊・日帰り旅行代金の半額相当額、一人一泊あたり2万円を上限（日帰り旅行は 1万円を上限）<br>に支援します。<br>
            そのうち 35%相当額は旅行・宿泊代金の値引きとし、残る15%分を旅行先で利用できる<br>地域共通クーポンとして還元します。
            </p>
            </div>

          <p class="basic_p txt_gray">
            ワールドプランニングオフィスへのお問合せありがとうございます。<br>
            <br>
            内容を確認次第、ご連絡致します。<br>
            尚、お問い合わせ内容によりましては、ご回答に時間がかかる場合がございます。<br>
            お客さまからいただいたEメールアドレスが違っている場合や、システム障害などによりお返事ができない場合がございます。大変お手数ですが返答のない場合は、お電話でその旨お問い合わせください。<br>
            <br>
            ■お問合せ情報は、フォームにご記入頂きましたメールアドレス宛にも自動返送されます。<br>
            <span class="form-require">※</span>印は必須項目となっております。<br>
          </p>


          <h4>GoToトラベルキャンペーン <br class="u-pc-hide">問合せフォーム</h4>
          <p class="basic_p goto_form_sec_txt">
            ●キャンペーン活用した個人旅行のお申込み・お問合せ<br>
            ●キャンペーン内容についての疑問等<br>
            GoToキャンペーンに関するお問い合わせをなんでもお寄せください。<br>
            <strong>お客様のご希望に沿った旅行プランを担当者よりご提案させていただきます。</strong><br>
            以下フォームよりお願いします。<br>
          </p>
          <div class="form__block">

          <form method="post" action="mail.php">
            <table class="table-default">
              <tr>
                <th>お客様名<span>（匿名・ニックネーム可）</span></th>
                <td><input type="text" name="お客様名（匿名・ニックネーム可）" placeholder="" /></td>
              </tr>
              <tr>
                <th>フリガナ</th>
                <td><input type="text" name="フリガナ" placeholder=""></td>
              </tr>
              <tr>
                <th>TEL</th>
                <td><input type="text" name="TEL" placeholder=""></td>
              </tr>
              <tr>
                <th>メールアドレス<span class="form-require">※</span></th>
                <td><input type="text" name="メールアドレス" placeholder="" required></td>
              </tr>
              <tr>
                <th>ご旅行先<span>（お決まりの場合）</span></th>
                <td><input type="text" name="ご旅行先（お決まりの場合）" placeholder=""></td>
              </tr>
              <tr>
                <th>ご旅行日程<span>（お決まりの場合）</span></th>
                <td><input type="text" name="ご旅行日程（お決まりの場合）" placeholder=""></td>
              </tr>
              <tr>
                <th>日程未定の場合、おおよその旅行時期</th>
                <td><input type="text" name="日程未定の場合、おおよその旅行時期" placeholder=""></td>
              </tr>
              <tr>
                <th>ご予算のめやす</th>
                <td><input type="text" name="ご予算のめやす" placeholder=""></td>
              </tr>
              <tr>
                <th>ご人数</th>
                <td><input type="text" name="ご人数" placeholder=""></td>
              </tr>
              <tr>
                <th>参加形態<span>（ファミリー・ご夫婦・友人・カップル等）</span></th>
                <td><input type="text" name="参加形態（ファミリー・ご夫婦・友人・カップル等）" placeholder=""></td>
              </tr>
              <tr>
                <th>こだわりたい点</th>
                <td><textarea name="こだわりたい点" cols="50" rows="5"></textarea></td>
              </tr>
              <tr>
                <th>その他お問合せ</th>
                <td><textarea name="その他お問合せ" cols="50" rows="5"></textarea></td>
              </tr>
            </table>
            <div class="submit">
              <input class="button" type="submit" value="内容確認画面へ" />
            </div>
          </form>

          </div>




        </div>




      </div>
    </section>



  </main>

</div>
<!-- ここまでコンテンツ -->


<% include ../common/_footer %>
