<%-
  include('../common/_head', {
    page: json['goto_form']
  });
%>

<div class="main-block">
  <main class="l-main">
    <section class="page-header">
      <h2>GoToトラベルキャンペーン<br>個人旅行お問合せフォーム<span>GOTO TRAVEL FORM</span></h2>
    </section>
    <section class="sec-content contact-intro_sec">
      <div class="l-container page-container">

        <div class="page-inner">
        <div class="u-ta-c">
          <h4>入力内容を送信しました。</h4>

              <div class="thanks__text u-mt-20 u-mb-20">

                  <p>内容を確認次第、担当者よりご連絡させていただきます。<br>
                    尚、お客さまからいただいたEメールアドレスが違っていたり、システム障害などによりお返事できない場合がございます。<br>
                    返答のない場合は、お電話でその旨お問い合わせください。</p>

                </div>

                <a href="/">TOPページへ</a>


        </div>

        </div>




      </div>
    </section>



  </main>

</div>
<!-- ここまでコンテンツ -->
<% include ../common/_footer %>
